body {
    padding-top: 5rem;
}

#send{
    border: none;
    background-color: blue;
    color: white;
    border-radius: 4px;
    padding: 6px 30px;
    
}
.required{
    color: red;
}

.form_info{
    margin: 40px 0px;
}

.flashes {
    list-style-type: none;
    padding: 100px 0px;
    font-size: 48px;
}